frontend/.DS_Store
frontend/node_modules
frontend/*.log
frontend/explorations
frontend/TODOs.md
frontend/RELEASE_NOTE*.md
frontend/packages/server-renderer/basic.js
frontend/packages/server-renderer/build.dev.js
frontend/packages/server-renderer/build.prod.js
frontend/packages/server-renderer/server-plugin.js
frontend/packages/server-renderer/client-plugin.js
frontend/packages/template-compiler/build.js
frontend/packages/template-compiler/browser.js
frontend/.vscode
frontend/dist
frontend/temp
frontend/types/v3-generated.d.ts

backend/.idea/
backend/.venv*/
backend/venv*/
backend/__pycache__/
backend/dist/
backend/.coverage*
backend/htmlcov/
backend/.tox/
backend/docs/_build/
